.garage_form {
    display: inline;
}

.winner_form {
    display: inline;
}

.car_name_form {
    position: relative;
    margin-top: 20px;
}

.btn_type_3 {
    position: relative;
    margin-top: 15px;
}

.btn_type_4 {
    position: relative;
    margin-top: 15px;
}

h3 {
    position: relative;
    display: block;
}

.footer {
    margin-top: 60px;
}

.del_sel_btns {
    position: relative;
    display: inline;
}

.control_btns {
    position: relative;
    margin-top: 10px;
}

.flag {
    position: absolute;
    height: 30px;
    right: 80px;
    display: inline;
}

.flad_leg {
    position: absolute;
    height: 50px;
    width: 2px;
    right: 112px;
    background-color: #505050;
    display: inline;
}

.flag img {
    position: relative;
    height: 30px;
}

.race {
    transform: translateX(100%);
}

.animation {
    transition-property: transform;
    transition-duration: 9s;
}

.road {
    position: relative;
    width: 100%;
    top: 50px;
    height: 0px;
    border: 1px dashed #000;
}

.car {
    position: relative;
    margin-top: 60px;
}

.first_car {
    margin-top: 0px;
}

.car-name {
    position: relative;
    display: inline;
    margin-left: 20px;
}

.car_icon {
    position: absolute;
    display: inline;
}

.car_icon img {
    position: relative;
    width: 75px;
    margin-top: 20px;
}