.garage_form {
    display: inline;
}

.winner_form {
    display: inline;
}

.car_name_form {
    position: relative;
    margin-top: 20px;
}

.btn_type_3 {
    position: relative;
    margin-top: 15px;
}

.btn_type_4 {
    position: relative;
    margin-top: 15px;
}

h3 {
    position: relative;
    display: block;
}

.footer {
    margin-top: 20px;
}

.del_sel_btns {
    position: relative;
    display: inline;
}

.control_btns {
    position: relative;
    margin-top: 10px;
}

.flag {
    position: absolute;
    height: 50px;
    right: 80px;
    display: inline;
}

.flag img {
    position: relative;
    height: 50px;
}

.race {
    left: calc(100% - 80px);
}

.road {
    position: relative;
    width: 100%;
    height: 0px;
    border: 1px dashed #000;
}

.car {
    position: relative;
    margin-top: 7.5px;
}

.car-name {
    position: relative;
    display: inline;
    margin-left: 20px;
}

.car_icon {
    position: relative;
    display: inline;
}

.car_icon img {
    position: relative;
    width: 75px;
    margin-top: 20px;
}